body{
    background-color: #0d1117;
}
#clockcontainer{
    position: relative;
    height: 40vh;
    width: 40vh;
    background-image: url(clock1.png);
    background-size: 100%;
    background-color: #9198a1;
    border-radius: 50%;
    margin: auto;
}

#hour,#minute,#second{
    position: absolute;
    background: black;
    border-radius: 12px;
    transform-origin: bottom;
}

#hour{
    right: 49%;
    height: 25%;
    width: 2%;
    top: 25%;
    opacity: 0.8;
}
#minute{
    right: 49%;
    height: 30%;
    width: 2%;
    top: 20%;
    opacity: 0.6;
}
#second{
    right: 49%;
    height: 35%;
    width: 2%;
    top: 15%;
    opacity: 0.4;
}

.footer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    color: #f0f6fc; /* Footer text color */
    text-align: center;
    font-size: 1em;
}